@model petsFragrant_Test.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderID" />
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <select asp-for="CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orderdate" class="control-label"></label>
                <input asp-for="Orderdate" class="form-control" />
                <span asp-validation-for="Orderdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipdate" class="control-label"></label>
                <input asp-for="Shipdate" class="form-control" />
                <span asp-validation-for="Shipdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arriiveddate" class="control-label"></label>
                <input asp-for="Arriiveddate" class="form-control" />
                <span asp-validation-for="Arriiveddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment" class="control-label"></label>
                <input asp-for="Payment" class="form-control" />
                <span asp-validation-for="Payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Delivery" class="control-label"></label>
                <input asp-for="Delivery" class="form-control" />
                <span asp-validation-for="Delivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
