<div class="container ">
    <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
            <h3>關於寵物香園</h3>
            <ul>
                <hr>
                <li><a href="#">品牌故事</a></li>
                <li><a href="#">合作窗口</a></li>
                <li><a href="#">隱私權保護政策</a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
            <h3>購買相關問題</h3>
            <ul>
                <hr>
                <li><a href="#">常見問題</a></li>
                <li><a href="#">付款問題</a></li>
                <li><a href="#">配送問題</a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
            <h3>會員權益</h3>
            <ul>
                <hr />
                <li><a href="#">香檳會員等級</a></li>
                <li><a href="#">如何成為鑽石香檳</a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div class="col-lg-3 item social">
            <h3>聯絡我們</h3>
            <ul>
                <li>營業時間 : 周一至周五 09:00-18:00</li>
                <li>E-email :  Pooh@gmail.com</li>
                <li>聯絡老闆 : 404 NotFound</li>
            </ul>
            <a href="#"><i class="icon ion-social-facebook"></i></a>
            <a href="#"><i class="icon ion-social-instagram"></i></a>
            <a href="#"><i class="icon ion-social-youtube"></i></a>
            <a href="#"><i class="icon ion-social-github"></i></a>
            <p class="copyright" style="font-size: large;">寵物香園 &copy; 2023</p>
        </div>
    </div>
</div>

