@{
    string title = ViewData["Title"].ToString();
}

@if (!String.IsNullOrEmpty(ViewData["Title"].ToString()))
{
    <h1 class="text-bg-danger p-3">@ViewData["Title"]</h1>
}

@if (!String.IsNullOrEmpty(ViewData["Message"].ToString()))
{
    <p>@ViewData["Message"]</p>
}